
<head></head>
<body>
  #the action states where (what webpage it will got to)
  #the method is POST, because it is uploading information to the server
  <form action="/results" method="POST">
      <center>
      username: <br><br>
      #name refers to name of the variable
      <input type="text" name="username">
      <br><br>
      tweet: <br><br>
      <input type="text" name="tweet">
      <br><br>
      <input type="submit" value="submit">
      </center>  
  </form>
</body>