#Views present your code
#we could call the view file, as erb :index
<!DOCTYPE html>
<html>
  <h1> Fwitter </h1>
  <p> All similarities to twitter are purely coincidental </p>
  <p><%= "#{@tweet_1.username} says: #{@tweet_1.content}" %></p>